<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhisiyun.bi.defaultDao.RsColumnConfMapper">
	<resultMap id="BaseResultMap" type="com.zhisiyun.bi.bean.defaultBean.RsColumnConf">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="rs_t_id" jdbcType="INTEGER" property="rs_t_id" />
		<result column="is_calc" jdbcType="VARCHAR" property="is_calc" />
		<result column="rsc_category" jdbcType="INTEGER" property="rsc_category" />
		<result column="rsc_display" jdbcType="VARCHAR" property="rsc_display" />
		<result column="rsc_formatter" jdbcType="VARCHAR" property="rsc_formatter" />
		<result column="rsc_name" jdbcType="VARCHAR" property="rsc_name" />
		<result column="rsc_type" jdbcType="INTEGER" property="rsc_type" />
		<result column="rsc_sort" jdbcType="INTEGER" property="rsc_sort" />
		<result column="rsc_remark" jdbcType="VARCHAR" property="rsc_remark" />
		<result column="rsc_conversion" jdbcType="INTEGER" property="rsc_conversion" />
		<result column="rsc_order" jdbcType="VARCHAR" property="rsc_order" />
	</resultMap>

	<select id="selectAll" resultMap="BaseResultMap">
		select * from rs_column_conf
		order by
		id
	</select>

	<select id="selectByTableIdAndType" resultMap="BaseResultMap">
		select * from
		rs_column_conf where
		rs_t_id = #{rs_t_id}
		and rsc_category =
		#{rsc_category}
		order by id
	</select>

	<select id="selectByTableId" resultMap="BaseResultMap">
		select * from
		rs_column_conf where
		rs_t_id = #{rs_t_id}
		order by id
	</select>

	<select id="selectOneById" resultMap="BaseResultMap">
		select * from
		rs_column_conf where
		id = #{id}
		order by id
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select * from
		rs_column_conf where
		id in
		<foreach collection="ids" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
		order by id
	</select>
</mapper>