<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhisiyun.bi.defaultDao.RsTableConfMapper">
	<resultMap id="BaseResultMap" type="com.zhisiyun.bi.bean.defaultBean.RsTableConf">
	    <id column="sn_id" jdbcType="INTEGER" property="sn_id" />
		<result column="id" jdbcType="VARCHAR" property="id" />
		<result column="ds_name" jdbcType="VARCHAR" property="ds_name" />
		<result column="ds_display" jdbcType="VARCHAR" property="ds_display" />
		<result column="ds_type" jdbcType="INTEGER" property="ds_type" />
		<result column="logic" jdbcType="VARCHAR" property="logic" />
		<result column="create_date" jdbcType="DATE" property="create_date" />
		<result column="modify_date" jdbcType="DATE" property="modify_date" />
	</resultMap>

	<select id="selectAll" resultMap="BaseResultMap">
		select * from rs_table_conf
		order by
		substr(ds_name,1,2),cast(substr(replace(ds_name,'_','.'),3) as NUMERIC)
	</select>

	<select id="selectByName" resultMap="BaseResultMap">
		select * from rs_table_conf
		where ds_name = #{ds_name}
		order by
		sn_id
	</select>

	<select id="selectById" resultMap="BaseResultMap">
		select * from rs_table_conf
		where id = #{id}
	</select>
	
	<select id="selectByIds" resultMap="BaseResultMap">
		select * from rs_table_conf
		where id in 
		<foreach collection="ids" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</select>
	
	<select id="selectByDsName" resultMap="BaseResultMap">
		select * from rs_table_conf
		where ds_name = #{ds_name}
	</select>

	<select id="selectByNameOrDisplay" resultMap="BaseResultMap">
		select * from
		rs_table_conf
		where ds_name like CONCAT('%',#{ds_name},'%')
		or
		ds_display like CONCAT('%',#{ds_name},'%')
		order by
		substr(ds_name,1,2),cast(substr(replace(ds_name,'_','.'),3) as NUMERIC)
	</select>
	<insert id="addByBean" parameterType="com.zhisiyun.bi.bean.defaultBean.RsTableConf"
	useGeneratedKeys="true" keyProperty="id">
		insert into
		rs_table_conf(id,ds_name,ds_display)
		values(#{id},#{ds_name},#{ds_display})
	</insert>
	<insert id="addDiyByBean" parameterType="com.zhisiyun.bi.bean.defaultBean.RsTableConf"
		useGeneratedKeys="true" keyProperty="sn_id">
		insert into
		rs_table_conf(id,ds_name,ds_display,ds_type,logic,column_array)
		values(#{id},#{ds_name},#{ds_display},#{ds_type},#{logic},#{column_array})
	</insert>
	<update id="updateByBean" parameterType="com.zhisiyun.bi.bean.defaultBean.RsTableConf">
		update rs_table_conf
		<set>
			ds_name
			= #{ds_name},
			ds_display = #{ds_display}
		</set>
		where id =
		#{id}
	</update>
	<select id="selectByIdList" resultMap="BaseResultMap">
		select * from
		rs_table_conf
		where id in
		<foreach collection="idList" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
		order by
		sn_id
	</select>
	<select id="makeTableAndColumn" useCache="false" statementType="CALLABLE"
		resultType="java.lang.Integer">  
        <![CDATA[ 
        select fnc_stru_analyse(
        #{sn_id,mode=IN,jdbcType=INTEGER});
        ]]>
	</select>
	<select id="selectMaxSnId" resultType="Integer">
		select max(sn_id) from rs_table_conf
	</select>
</mapper>